.diseño{
    width:600px;
    height:500px;
    background-color:greenyellow;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.diseño1{
    width:500px;
    height:400px;
    background-color:whitesmoke;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    top: 50%;
    right: 50%;
    transform: translate(50, -50%);
}

.diseño2{
    width:400px;
    height:300px;
    background-color: gold;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    color:blue;
    font-size: 20px;
}


.diseño3{
    width:250px;
    height:100px;
    background-color:rgb(255, 51, 51);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
